---
import Logo from "./public/logo-black.svg";
---

<div class="relative isolate flex items-center justify-between p-3 z-10 mx-auto max-w-7xl w-full"> 
    <div class="flex flex-1">
        <img src={Logo} />
    </div>
    <div class="flex justify-end gap-x-12">
        <a class="font-medium cursor-pointer">Hva er Plug.no</a>
        <a class="font-medium cursor-pointer">Om oss</a>
        <a class="font-medium cursor-pointer">Tjenester</a>
        <a class="font-medium cursor-pointer">Kontakt</a>
    </div>
</div>
